---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ${SERVICE_NAME}-ingress
  namespace: buildit-jenkins
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: ${SERVICE_NAME}.portworx.zone
    http:
      paths:
      - backend:
          serviceName: ${SERVICE_NAME}
          servicePort: 80
